* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  font-family: sans-serif;
}

nav {
  height: 100%;
}
h1 {
  margin-top: 6.4rem;
  margin-left: 4.8rem;
}

::-webkit-scrollbar {
  width: 1rem;
}

.flex {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.main {
  display: grid;
  grid-template-columns: 20fr 80fr;
  color: #fff;
  height: 80%;
  gap: 1rem;
  padding: 1.2rem;
}

.main-nav,
.display-container,
.playlist-nav {
  background-color: #121212;
}
.main-nav ul > li {
  width: 100%;
  cursor: pointer;
}
.main-nav ul > li:first-child {
  margin-bottom: 1.6rem;
}

.container {
  border-radius: 9px;
}
.playlist-nav {
  /* height: 83%; */
  /* background-color: aqua; */
  /* height: 85%; */
  margin-top: 1.6rem;
  overflow-y: auto;
}
.playlist-nav-items {
  margin-top: 2rem;
  width: 100%;
  flex-direction: column;
  align-items: start;
  gap: 1.2rem;

  /* gap: ; */
}
.playlist-nav-items li {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 3.2rem;
  font-size: 2.4rem;
  cursor: pointer;
  /* background-color: red; */
  height: 6.4rem;
  border-radius: 9px;
  width: 100%;
  transition: all 0.5s;
}
.playlist-nav-items li:hover {
  background-color: #1a1a1a;
}
.playlist-nav-items li > img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  margin-left: 1rem;
}

.playlist-nav,
.main-nav {
  padding: 1.6rem;
  overflow-y: auto;
}
.icon-title {
  margin-left: 1.2rem;
  font-size: 1.6rem;
  font-weight: 700;
}
/* .main-nav {
  background-color: bisque;
  padding-block: 1.6rem;
  padding-left: 1.6rem;
} */

.display-container {
  /* background-color: greenyellow; */
  /* height: 110%; */
  background-image: linear-gradient(
    180deg,
    hsl(142deg 76% 50%) 0%,
    hsl(142deg 65% 50%) 0%,
    hsl(142deg 57% 50%) 0%,
    hsl(142deg 51% 47%) 2%,
    hsl(142deg 46% 44%) 5%,
    hsl(142deg 42% 40%) 10%,
    hsl(142deg 39% 37%) 18%,
    hsl(142deg 35% 31%) 33%,
    hsl(139deg 25% 19%) 72%,
    hsl(0deg 0% 7%) 100%
  );
  overflow-y: auto;
}

.display-container-playlists {
  flex-wrap: wrap;
  max-width: 90%;
  margin: 9.6rem auto;
  gap: 4rem;
  row-gap: 2.4rem;
  overflow-y: auto;
  /* justify-content: space-evenly; */
}

.playlist-card {
  width: 18rem;
  height: 25rem;
  background-color: rgb(38, 38, 38, 0.3);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s;
  text-align: center;
  /* margin-left: auto; */
}
.playlist-card:hover {
  background-color: rgb(38, 38, 38, 0.6);
}
.playlist-card img {
  width: 100%;
  height: 80%;
  transform: scale(0.9);
  border-radius: 10px;
}

.playbar {
  position: fixed;
  bottom: 0;
  background-color: #000;
  width: 100vw;
  height: 15vh;
  padding: 1.2rem 2rem;
  gap: 40%;
}
.main-player {
  width: 80rem;
  position: relative;
  /* background-color: red; */
}
.player {
  margin-bottom: 1rem;
}

.player .icon {
  width: 3.2rem;
  height: 3.2rem;
}
.progress-bar {
  position: absolute;
  transform: translate(-40%);
  width: 100%;
}
ul {
  list-style: none;
}

.icon {
  width: 4rem;
  height: 4rem;
  stroke: #fff;
  cursor: pointer;
}

.hidden {
  opacity: 0;
  z-index: -5000;
  transition: all 0.3s ease-in;
}

.display-none {
  display: none;
}
